@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: #000000;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00ffff;
  padding: 1rem;
  box-sizing: border-box;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #ff00ff;
  font-size: 1.5rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #ff00ff;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  color: #00ffff;
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ff00ff;
  color: #000000;
}

button span {
  background: #00ffff;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #ff00ff;
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}
